<!-- <h1>Fetcher#show</h1>
<p>Find me in app/views/fetcher/show.html.erb</p>
 -->
 
 <% @page0.links.each do |l| %>
 	<%= link_to(l.uri, {:action => "play", :linky => l.uri}, 'data-no-turbolink' => true) %><br>
 <% end %>
 <!-- <%= link_to("pornhub", {:aciton => "play", :tp => "ph"} ) %>
 <%= link_to("redtube", {:aciton => "play", :tp => "rt"} ) %>
 <%= link_to("tube8", {:aciton => "play", :tp => "t8"} ) %> -->
